html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

.section {
    scroll-margin-top: 100px;
    /* Adjust as needed */
}

.carousel-nav-btn {
    background: none;
    border: none;
    font-size: 2rem;
}

.pagination-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

.pagination-dots .active {
    background: #000;
}

.social-icon {
    color: #e77b39;
}

.suggestions-list {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

#book {
    min-height: 100vh;
    /* Ensures the section takes at least the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers content vertically */
    margin-top: 150px;
    /* Optional: adjust to account for fixed header */
    box-sizing: border-box;
}


/* Progress Steps Container */
/* Wizard Step Styles */
.wizard-step {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.wizard-step.active {
    display: block;
    opacity: 1;
}

/* Progress Bar Container */
.progress {
    background-color: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Progress Bar Indicator */
.progress-bar {
    background: linear-gradient(90deg, rgb(119, 187, 247), rgb(243, 138, 96));
    border-radius: 10px;
    transition: width 0.3s ease, background 0.3s ease;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    line-height: 20px;
    position: relative;
}

/* Display percentage as a whole number */
.progress-bar::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}