* {
    scrollbar-width: none !important;
}

.dataTables_paginate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.next, .previous {
    display: none !important;
}

.view-card, .card-body {
    max-height: 550px;
    overflow: auto;
}

.content-wrapper {
    height: 100dvh;
    overflow-y: auto;
}

.logo-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 2px;
}

.rounded-circle {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 3px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-title {
    font-size: 1.26rem;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo-responsive {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 2px;
}

.logo-responsive {
    display: none;
}

.sidebar-collapse .logo-circle {
    display: none;
}

.sidebar-collapse .logo-responsive {
    display: block;
}

.sidebar-collapse .logo-title {
    display: none;
}

.card-header {
    background-color: rgb(92 108 117);
    color: white;
}

[class*=sidebar-light-] .sidebar a {
    color: #ff8e2a
}

.sidebar-dark-light .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-light .nav-sidebar>.nav-item>.nav-link.active {
    background-color: rgb(235 159 69);
}

.sidebar-dark-light .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-light .nav-sidebar>.nav-item>.nav-link.active {
    color: white;
}

.small-badge {
    font-size: 0.6rem;
    padding: 2px 5px;
}
